<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- Will be displayed if no user is logged in -->
    <ion-card *ngIf="!this.restProvider.user">
      <form (ngSubmit)="login()">
        <!-- Login title -->
        <ion-item text-wrap>
          <ion-card-title>Login</ion-card-title>
        </ion-item>
  
        <!-- Login username -->
        <ion-item>
          <ion-label color="primary" stacked>Benutzername</ion-label>
          <ion-input [(ngModel)]="username" type="name" name="username"></ion-input>
        </ion-item>
  
        <!-- Login password -->
        <ion-item>
          <ion-label color="primary" stacked>Passwort</ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
        </ion-item>
  
        <!-- Submit button -->
        <ion-item>
          <button ion-button type="submit" block>Login</button>
        </ion-item>
      </form>
    </ion-card>

    <!-- Will be displayed if a user is logged in -->
    <ion-card *ngIf="this.restProvider.user">
      <!-- Login title -->
      <ion-item text-wrap>
        <ion-card-title>Eingeloggt als {{this.restProvider.user.username}}</ion-card-title>
      </ion-item>

      <!-- Logout button -->
      <ion-item>
        <button ion-button (click)="logout()" block>Logout</button>
      </ion-item>
    </ion-card>
</ion-content>