<ion-header>
  <ion-toolbar color="primary">
    <!-- menu toggle is needed to create the right padding -->
    <button ion-button icon-only menuToggle (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>

    <ion-title *ngIf="!this.restProvider.profile">Login</ion-title>
    <ion-title *ngIf="this.restProvider.profile">Mein Profil</ion-title>

    <ion-buttons end *ngIf="this.restProvider.profile">
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Will be displayed if no user is logged in -->
  <ion-list *ngIf="!this.restProvider.profile">
    <!-- Login username -->
    <ion-item padding-right>
      <ion-label color="primary">Benutzername</ion-label>
      <ion-input [(ngModel)]="credentials.username" type="name" name="username"></ion-input>
    </ion-item>

    <!-- Login password -->
    <ion-item padding-right>
      <ion-label color="primary">Passwort</ion-label>
      <ion-input [(ngModel)]="credentials.password" type="password" name="password"></ion-input>
    </ion-item>

    <!-- Submit button -->
    <ion-item>
      <button ion-button color="primary" (click)="login()" full>Login</button>
    </ion-item>
  </ion-list>

  <!-- Will be displayed if a user is logged in -->
  <ion-card *ngIf="this.restProvider.profile">
    <ion-card-content>
      <!-- Name -->
      <ion-item text-wrap no-padding>
        <p>Name</p>
        <h2>{{ this.restProvider.profile.first_name }} {{ this.restProvider.profile.last_name }}</h2>

        <!-- Edit Button -->
        <button ion-button icon-only (click)="changeProfile()" clear color="secondary" item-end>
            <ion-icon name="create"></ion-icon>
        </button>
      </ion-item>

      <!-- Username -->
      <ion-item text-wrap no-padding>
        <p>Benutzername</p>
        <h2>{{ this.restProvider.profile.username }}</h2>
      </ion-item>

      <!-- Group -->
      <ion-item text-wrap no-padding>
        <p>Gruppe</p>
        <h2>{{ ['Gast', 'Mitglied', 'Admin'][this.restProvider.profile.group_id] }}</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- List of all users (for admins only) -->
  <div *ngIf="restProvider.group_id === UserGroup.admin">
    <ion-item-divider>
      <span>Benutzerliste</span>
      <button ion-button clear color="secondary" (click)="createUser()" item-end>
        Neuer Account
      </button>
    </ion-item-divider>

    <ion-item *ngFor="let user of users; let i = index" text-wrap>
      <!-- Name and username -->
      <h2 ion-text [color]="user.group_id == UserGroup.admin ? 'secondary' : null">
        <span *ngIf="user.user_id === 1">Standard Administrator</span>
        <span *ngIf="user.user_id !== 1">
          {{user.first_name}} {{user.last_name}} ({{user.username}})
        </span>
      </h2>

      <!-- Edit Button -->
      <button ion-button icon-only clear color="secondary" (click)="changeUser(user.user_id)" item-end>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>
  </div>
      
</ion-content>