<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ruder AG</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Welcome sheet -->
  <div padding-bottom>
    <h2>Herzlich Willkommen!</h2>

    <p>
      Bei der Ruder AG des Goethe-Gymnasiums-Lichterfelde!
    </p>
  </div>
  
  <!-- Newsfeed -->
  <div>
    <h2>Neuigkeiten</h2>

    <ion-card *ngFor="let news of newsfeed">
      <!-- Title and event date -->
      <ion-item>
        <ion-card-title>{{news.title}}</ion-card-title>
        <p *ngIf="news.eventAt">am {{news.eventAt | date: "d. M. yyyy"}} um {{news.eventAt | date: "HH:mm"}}</p>
      </ion-item>

      <!-- Content -->
      <ion-card-content>
        <p>{{news.content}}</p>
      </ion-card-content>

      <!-- Created at date -->
      <ion-row>
        <ion-col center text-center>
          <ion-note>
              Erstellt am {{news.createdAt | date: "d. M. yyyy"}} um {{news.createdAt | date: "HH:mm"}}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <!-- Add newsfeed FAB -->
  <ion-fab right bottom>
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
