<ion-content>
  <!-- Welcome card -->
  <ion-card *ngIf="!this.restProvider.user">
    <ion-item text-wrap>
      <ion-card-title>Herzlich Willkommen</ion-card-title>
    </ion-item>
    <ion-card-content>
      <p>
        ...bei der Ruder AG des Goethe Gymnasiums. Ja, ja. Das ist Bonn, nicht Paris.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.restProvider.user">
    <ion-item text-wrap>
      <ion-card-title>Ja Moin, {{this.restProvider.user.firstName}}</ion-card-title>
    </ion-item>

    <ion-card-content no-padding text-wrap>
      <ion-list>
        <ion-item>
          Einfach nur weil ich es kann, sag ich dir jetzt ein paar Informationen
          (das sollte vllt in der entgültigen App nicht mehr da stehen):
        </ion-item>
        <ion-item>
          Dein Name ist: {{this.restProvider.user.firstName}} {{this.restProvider.user.lastName}}
        </ion-item>
        <ion-item>
          Deine Benutzer-Gruppe ist: {{['Gast', 'Mitglied', 'Admin'][this.restProvider.groupId]}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <!-- Newsfeed header -->
  <ion-item-divider>
    <span>Aktuelles</span>
    <button ion-button *ngIf="this.restProvider.groupId >= 2" clear color="secondary" (click)="addNewsfeed()" item-end>
      Neuer Eintrag
    </button>
  </ion-item-divider>

  <!-- Newsfeed cards -->
  <ion-card *ngFor="let news of newsfeed; let i = index">
    <!-- Title and event date -->
    <ion-item text-wrap>
      <ion-card-title>{{news.title}}</ion-card-title>
      <p *ngIf="news.eventAt">am {{news.eventAt | date: "d. M. yyyy"}} um {{news.eventAt | date: "HH:mm"}}</p>

      <!-- Delete Button -->
      <button *ngIf="this.restProvider.groupId >= 2" ion-button icon-only clear color="danger" (click)="deleteNewsfeed(i)" item-end>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>

    <!-- Content -->
    <ion-card-content>
      <p>{{news.content}}</p>
    </ion-card-content>

    <!-- Created at date -->
    <ion-row>
      <ion-col center text-center>
        <ion-note>
            Erstellt am {{news.createdAt | date: "d. M. yyyy"}} um {{news.createdAt | date: "HH:mm"}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
